.formulario {
  margin-top: 5%;
}
.jumbotron{
  background-color: rgba(77, 134, 241, 0.658);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer{
 
  color: rgba(66, 65, 65, 0.788);

}